project_id           = "your-gcp-project-id"
region               = "us-central1"
db_user              = "tasknoteuser"
db_password          = "your-db-password"
db_name              = "tasknote"
security_key         = "your-security-key"
mailgun_apikey       = "your-mailgun-apikey"
backend_image        = "ghcr.io/rmcampos/tasknote/api:latest"
frontend_image       = "ghcr.io/rmcampos/tasknote/app:latest"
cors_allowed_origins = "*"
